.blog-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.blog-img img {
    object-fit: cover;
    object-position: center;
    height: 400px;
    width: 100%;
}
.blog-img:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000009e;
}
.sub-header-content h1 {
    font-family: "Larsseit-Bold";
    font-size: 33px;
}
.sub-header-content h1::before {
    position: absolute;
    content: "";
    width: 118px;
    height: 2px;
    margin-top: 18px;
    margin-left: -140px;
        background-color: #ffc100;
}
.sub-header-content h1::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    margin-top: 20px;
    margin-left: 10px;
        background-color: #ffc100;
}
.aside-form {
    background-color: #efefef;
    padding: 10px;
}
.aside-form input, .aside-form textarea {
    margin-bottom: 8px;
}
.aside-form button {
    width: 100%;
    background-color: #ffc100;
    color: #fff;
}
.aside-form h3 {
    text-align: center;
    font-size: 22px;
    color: #ffc100;
    font-weight: 600;
    text-transform: uppercase;
}
.aside-form h4 {
    text-align: center;
    font-size: 17px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.blog-categories {
    background-color: #efefef;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.blog-categories h4 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.blog-categories a {
    padding: 5px 0;
    border-bottom: 1px solid #7777;
    transition: all ease-in-out .3s;
    display: inline-flex;
        font-size: 14px;
}
.blog-categories a:hover div:last-child {
    color: #ffc100;
}
.blog-categories a small {
    color: #999;
}
.blog-img-thumb {
    width: 65px;
    height: 35px;
}
.blog-img-thumb img {
    object-fit: cover;
    object-position: center;
    height: 35px;
    width: 65px;
}
.blog-categories a div:last-child {
    padding-left: 8px;
    font-size: 11px;
    color: #000;
}
.social-media-wi {
    position: fixed;
    left: 0;
    bottom: 180px;
    z-index: 9;
}
.social-media-wi li{
    margin-bottom: 5px;
}
.social-media-wi li a {
    color: #fff;
    padding: 4px 8px;
    font-size: 19px;
}
.social-media-wi .wi-youtube{
    background-color:   #FF0000;
}
.social-media-wi .wi-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-media-wi .wi-facebook{
    background-color:   #1877F2;
}
.social-media-wi .wi-facebook a {
    padding-left: 10px;
}
.social-media-wi .wi-linkedin{
    background-color: #0077B5;
}

#blogs .card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  object-fit: cover;
    object-position: center;
    height: 200px;
    width: 100%;
}

#blogs .card-title {
  margin-bottom: 0.3rem;
}

#blogs .cat {
  display: inline-block;
}

#blogs .fa-users {
  margin-left: 1rem;
}
#blogs .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 11px;
}

#blogs .card-footer {
  font-size: 0.8rem;
}
#blogs .card-body {
    padding: 5px 0px !important;
}
.container-stiped {
    background-color: #efefef;
}
.sub-header-div {
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
}
.sub-header-content {
    max-width: 650px;
    margin: auto;
    position: absolute;
     bottom: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.blog-share {
    width: 100%;
    background-color: #ffffffe0;
    text-align: center;
}
.blog-share .blog-share-content {
    padding: 5px 0px;
}
.blog-share .blog-share-content p {
    margin-bottom: 5px;
}
.blog-share .blog-share-content a {
    margin-right: 8px;
    font-size: 14px;
    padding: 2px 6px;
    font-weight: 500;
    border-radius: 5px;
}
.blog-share .share {
    background-color: #FFC100;
    color: #fff;
}
.blog-share .share-copy {
    border: 1px solid #FFC100;
}


#latest-updates .card-img {

  object-fit: cover;
    object-position: center;
    height: 245px;
    width: 185px;
    box-shadow: 8px 11px 16px 0px rgb(76 76 76 / 29%);
}

#latest-updates .card-title {
  margin-bottom: 0.3rem;
}

#latest-updates .cat {
  display: inline-block;
}

#latest-updates .fa-users {
  margin-left: 1rem;
}
#latest-updates .card-text{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 11px;
}
#latest-updates .card-footer {
  font-size: 0.8rem;
}
#latest-updates .card-body {
    padding: 5px 0px !important;
}
#latest-updates .card {
    flex-direction: row;
    align-items: flex-end;
        background-color: transparent;
}
#latest-updates .news-block {
    background-color: #ffc10026;
    padding: 15px;
}
.sponsorships-div .sponsorships-details {
    background-color: #ffc10026;
    box-shadow: 8px 11px 16px 0px rgb(76 76 76 / 29%);
    padding: 15px 10px 40px 30px;
    border-bottom: 2px solid #084c47;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sponsorships-div .sponsorships-title {
    background-color: #fff;
    font-weight: 600;
    color: #084c47;
    margin-left: 35px;
    margin-bottom: 35px;
    padding: 12px 25px;
    font-size: 18px;
    text-align: center;
}
#services .row{
    justify-content: center;
}
.main-logos {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.main-logos .active {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22), transparent);
    border-top: 5px solid #FFC100;
}

#insights p {
    margin-top: 0;
}
#insights .row {
    text-align: center;
}
#insights .row i {
    font-size: 55px;
    color: #ffc100;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
#insights .row h5 {
    font-size: 30px;
    margin: 6px 0;
}
.viewership {
    font-size: 60px;
    color: #ffc100;
    text-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2), 0px -4px 0px rgba(255, 255, 255, 0.3);
}


#blogs .blog-img {
    height: 350px !important;
    margin-bottom: 20px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ffc129;
    border-color: #ffc129;
}
.page-link {
    padding: 6px 15px;
    color: #ffc129;
}
.blog-container h2 {
    text-align: left;
}
.blog-container ul li {
    padding-left: 0px !important;
    margin-left: 18px;
}